body {
	font-family: 'Avenir', 'Raleway', sans-serif;
	font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #757575;
	/*padding-top: 50px;*/
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Avenir', 'Raleway', sans-serif;
	font-weight: 300;
	color: #3a3a3a;
}

blockquote {
	border-left:5px solid #03a9f4;
	background-color: #f5f5f5;
}

/* Project Title */
.project-jumbotron{
	margin: 0px;
	min-height: 300px
}

.project-home-title{
	font-size: 16px;
	color: #4A4A4A;
}

.project-title {
	background-color:#eeeeee;
	text-align: center;
	margin-bottom: 50px;
}

.project-title h3 {
	font-weight: 600;
}

/* Project Title */
#media-body {
	font-size: 16px;
}

#media-body h4 {
	font-size: 24px;
	color: #3a3a3a;
}

.media-body, .media-left {
	vertical-align: middle;
}

.media-object{
	width: 48px;
	height: 48px;
}

/* Project Text */
.project_content {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.75;
	color: #757575;
	text-align: justify;
}

.project_content .sub-heading{
	font-weight: 500;
}

.project_content h4{
	font-weight: 300;
	color: #03a9f4;
	font-size: 20px;
}

.project_content b{
	color: #212121;
}

.project_content .intro_para {
	font-weight: 300;
	font-size: 18px;
	line-height: normal;
	color: #333333;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.emphasis {
	font-weight: bold;
	/* color: #03a9f4; */
	/* font-size: 120%; */
}

.image-quote{
	text-align:center;
	padding: 50px 10px;
	color: #ffffff;
}

.image-quote small{
	color: #03a9f4;
}

/* Project Thumbnails home page */
.newportfoliolist{
	width: 100%;
	height: 300px
	background-position: center center;
	background-size: cover;
	text-align: center;
	display: table;
}

.newportfoliolist span{
	display: none;
}

.newportfoliolist:hover span {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.65);
		background-blend-mode: normal;
		color: white;
}

.newportfoliolist span h3, .newportfoliolist span h3 small {
	color: white
}


/* Project Thumbnails home page */
#portfoliolist .portfolio .thumbnail {
	border: None;
	box-shadow: None;
	background-color: #FFFFFF;
	text-align: center;
	/* box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2); */
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 30px;
}

#portfoliolist .portfolio .thumbnail h4{
	line-height: 1.25;
	color: #37474F; /* #0072BB; */
	font-weight: 400;
	font-size: 16px;
	text-align: center;
}

#portfoliolist .portfolio .thumbnail:hover {
	-moz-box-shadow: 5px 5px 5px #c5c5c5;
	-webkit-box-shadow: 5px 5px 5px #c5c5c5;
	box-shadow: 5px 5px 5px #c5c5c5;
}

.badge {
	border-radius: 0px;
	font-weight: normal;
	color: #808080;
	background-color: #F5F5F5;
}

#portfoliolist .portfolio .thumbnail a div{
	margin: 5%;
}

#portfoliolist .portfolio .thumbnail a{
	text-decoration: none;
}

#portfoliolist .portfolio .thumbnail:hover{
	background-color: #fcfcfc;
}





 /*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.bs-footer {
  padding-top: 0px;
  margin-top: 2%;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.bs-footer .container {
	padding: 15px 0px;
	margin: 0px;
	width: 100%;
}

.footer-links {
  margin: 10px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .bs-footer {
    text-align: left;
  }
  .bs-footer p {
    margin-bottom: 0;
  }
}


/* SavvyMoney Tiles */
.savvymoneytiles{
	border: solid 1px #E5E5E5;
	box-shadow: 0px 0px 2px 1px #E7E7E780;
	padding:16px;
}

.savvymoneytiles div h4{
	color: #000000;
	font-weight: 500;
	font-size: 24px
}

.savvymoneytiles div ul{
	color: #000000;
}

.savvymoneytiles div a {
	background-color: #0F3E70;
	margin-top: 16px
}

/* Project Tiles */
.tile-border{
	box-shadow: 1px 1px 4px #CACACA50;
}

.tile-content {
	min-height: 100px;
	padding: 12px 32px;
}

.home-tile h2 {
	font-size: 14px;
	color: #4A4A4A;
	margin: 0px;
	padding-bottom: 8px;
}

.home-tile h3 {
	margin: 0px;
	font-size: 18px;
	line-height: 22px;
}

.home-tile a{
	text-decoration: none;
}

.home-tile {
	margin-bottom: 30px;
}

.home-info-box {
	margin-bottom: 72px;
}

.home-info-box div div small {
	font-size: 16px;
	color: #4A4A4A;
}

.home-info-box div div h3 {
	font-size: 24px;
	color: #4A4A4A;
	margin: 8px 0px;
	line-height: 29px
}
